.Rodape {
    background-color: #1d1d1d;
    color:goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    height: 50px;  
}
